In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
actors = pd.read_csv('../data/clean/actors.csv', encoding='utf-8', encoding_errors='ignore')
titles = pd.read_csv('../data/clean/titles.csv', encoding='utf-8', encoding_errors='ignore')
com_group = pd.read_csv('../data/clean/com_group.csv', encoding='utf-8', encoding_errors='ignore')
comments = pd.read_csv('../data/clean/comments.csv', encoding='utf-8', encoding_errors='ignore')

In [3]:
com_group.head()

,imdb_id,review,title
0,tt0002199,While this pioneering effort does have some sh...,From the Manger to the Cross
1,tt0003973,A women finds 4 seeds in an antique chest that...,A Florida Enchantment
2,tt0004457,"""The Patchwork Girl of Oz"" was the most racist...",The Patchwork Girl of Oz
3,tt0004873,"Before I jump into the review, I have a confes...",Alice in Wonderland
4,tt0005302,It may be considered a slender story and not w...,"Fanchon, the Cricket"

In [4]:
# Definir objeto vectorizador TF_IDF

tfidf = TfidfVectorizer(stop_words= 'english')

In [5]:
# contruir matriz TF-IDF

tfidf_matrix = tfidf.fit_transform(com_group['review'])
tfidf_matrix.shape

(14776, 219400)

In [6]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim= linear_kernel(tfidf_matrix, tfidf_matrix)

In [7]:
# construir mapa inverso de indices y titulos de peliculas

indices= pd.Series(com_group.index, index= com_group['title']).drop_duplicates()

In [10]:
def get_recom (title, cosine_sim=cosine_sim):
    idx = indices[title]

    sim_scores= list(enumerate(cosine_sim[idx]))

    sim_scores= sorted(sim_scores, key= lambda x: x[1], reverse=True)

    sim_scores=  sim_scores[1:11]

    movie_id= [i[0]for i in sim_scores]

    return com_group['title'].iloc[movie_id]

In [13]:
get_recom('Breaking Bad')

14368                      El Camino: A Breaking Bad Movie
9377                                      Better Call Saul
10803                                          Sneaky Pete
12843                                           Your Honor
5140     The Road to El Camino: Behind the Scenes of El...
9958                                              Spotless
4158                                       Game of Thrones
10221                                              Shooter
3261                                              The Wire
8860                                        True Detective
Name: title, dtype: object